.btn {
  border: none;
  background-color: transparent;
}

.name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.user {
  display: flex;
  gap: 6px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 16px;
  }

  .user {
    gap: 16px;
  }
}
